@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "manrope";
}

main section {
    min-height: 90vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h4 {
    font-size: larger;
}

p,
small {
    color: dimgray;
}

p {
    font-weight: 500;
}

small {
    font-weight: bold;
}

#hero {
    min-height: 100vh;
}

#hero p {
    font-weight: bold;
}

#hero-img {
    background-image: url(./images/banner.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#client,
#client p {
    font-weight: normal;
    color: white;
}

#client-feedback,
#client-feedback p {
    color: dimgray;
    font-weight: normal;
}

#client-feedback b {
    color: black;
}

footer p {
    color: #112;
}

footer a {
    color: #224;
}

#footer-sec>div {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}